body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
 }
 
 
 header {
    text-align: center;
    background: #f14176;
    padding: 20px;
    color: white;
 }
 
 
 .logo {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
 }
 
 
 nav {
    display: flex;
    justify-content: center;
    background: #ff4081;
    padding: 10px;
 }
 
 
 nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
 }
 
 
 nav a:hover {
    background: #d72b60;
 }
 
 
 .container {
    text-align: center;
    padding: 30px;
 }
 